<!-- <div *ngIf="this._authToken && (this._authToken.length > 0)">
  auth-view-component works!<br>Here is the token: {{this._authToken}}
</div> -->

<div class="card" *ngIf="this._authToken && (this._authToken.length > 0)">
  <!-- <div class="card-header">Child Component</div> -->
  <h4 class="card-title">Authorized using "{{this.Algorithm}}"" algorithn</h4>

  <div class="card-body bg-info">
    <p class="card-text">Congrats!. You are now authorized. Use the link below to navigate to our Partner App</p>
    <!-- <a href="#" class="card-link">Another link</a> -->
  </div>
  <div class="card-footer">
    <!-- <a href="http://www.google.com/search?q={{this._authToken}}" target="_blank" class="card-link">Partner App 2</a> -->
    <a href="{{environment.partnerApp2DeepLink}}/{{this._algo}}/{{this._authToken}}" target="_blank" class="card-link">Partner App 2</a>
  </div>
</div>