<!-- <h1>
  {{title}}
</h1> -->

<div *ngIf="this.verified">
  Token verified!!
</div>

<div class="container">
  <div class="row">
    <div class="col">
      Choose a Login algorithm
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="javascript:void(0);" class="btn btn-primary" (click)="loginViaHSAlgo(token)">Using HS 256</a>
    </div>

    <div class="col">
      <a href="javascript:void(0);" class="btn btn-secondary" (click)="loginViaRSAlgo(token)">Using RS 256</a>
    </div>

    <div class="col" *ngIf="this.token!=null && this.token.length>0">
      <a href="javascript:void(0);" class="btn btn-secondary" (click)="verifyRS256Token(this.token)">Verify RS 256</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-auth-view-component [Token]="this.token" [Algorithm]="this.algo"></app-auth-view-component>
    </div>
  </div>
  <!-- <ul>
  <li><a href="javascript:void(0);" (click)="loginViaHSAlgo(token)">Using HS 256</a></li>
  <li><a href="javascript:void(0);" (click)="loginViaRSAlgo(token)">Using RS 256</a></li>
</ul> -->

  <!-- Token:  -->
  <!-- <textarea rows="8" cols="40" name="token" #token>Click any algorithm link and get tokenized :)</textarea> -->